@charset "utf-8";
/* CSS Document */

#banner{
	height:339px;
	background:url(../images/product_02.png) no-repeat center top;
	margin-bottom:54px;
}
#main{
	height:1800px;
}
.main_inner{
	width:1200px;
	margin:0 auto;
}
.main_title{
	height:24px;
}
.main_head h4{
	font-size:24px;
	line-height:24px;
	float:left;
	color:#b21e12;
	font-weight:normal;
	margin-left:76px;
}
.main_head p{
	font-size:12px;
	float:right;
	color:#b21e12;
}
.main_head p a{
	color:#b21e12;
}
.main_head_line{
	background:url(../images/line_two.png) no-repeat center;
}
.main_head_line h6{
	font-size:12px;
	margin-left:88px;
	color:#938786;
	font-weight:normal;
}
.main_left_menu{
	width:317px;
	float:left;
	margin-top:60px;
}

.main_left_menu li{
	margin-left:45px;
	background:url(../images/left_menu_item.png) no-repeat;
	height:42px;
	margin-bottom:30px;
	color:#FFFFFF;
	line-height:32px;
	width:132px;
	padding-left:60px;
	
}

.main_left_menu .select{
	background:url(../images/left_menu_item_select.png) no-repeat;
}
.main_left_menu li a{
	color:#FFFFFF;
}
.main_right{
	float:left;
	width:883px;
}
.main_right h4{
	font-size:18px;
	text-align:center;
	color:#b21e12;
	font-weight:normal;
	margin-bottom:20px;
	letter-spacing:5px;
}
.main_right h5{
	font-size:14px;
	text-align:center;
	color:#b21e12;
	font-weight:normal;
}

.main_right h6{
	font-size:14px;
	text-align:center;
	color:#b21e12;
	font-weight:normal;
	margin-bottom:26px;
	letter-spacing:2px;
}
.main_right p{
	font-size:14px;
	text-indent:28px;
	color:#4e4e4e;
}
.right_title{
	margin-top:	106px;
}
.content1{
	width:849px;
	margin:0 auto;
	color:#4e4e4e;
	margin-bottom:82px;
}
.content_item{
	width:283px;
	float:left;
}
.content_item h5{
	text-align:center;
	line-height:22px;
}
.content_item_p{
	margin:0px 15px;
	text-align:center;
	line-height:22px;
}
.main_left_menu .dangao{
	margin-top:258px;
}
.main_left_menu p{
	width:108px;
	height:32px;
	background:#f85455;
	margin-top:14px;
	padding-left:32px;
	
}
.main_left_menu .select_p{
	background:#B21E12;
}
.main_right_top{
	padding-top:106px;
	margin-bottom:66px;
}
.main_right_top_pic{
	float:left;
	margin-right:86px;
}
.product_title{
	font-size:18px;
	color:#020911;
}
.product_content{
	font-size:18px;
	color:#6e6d6d;
	line-height:24px;
	margin-bottom:24px;
}
.product_item{
	margin-bottom:58px;
	height:346px;
}
.product_item_1{
	float:left;
}
.product_item_2{
	float:left;
	margin:0px 52px;
}
.item_title{
	font-size:18px;
	color:#020911;
}
.item_content{
	font-size:18px;
	color:#6e6d6d;
	line-height:20px;
}
