@charset "utf-8";
/* CSS Document */	
	h3{line-height:28px;font-size:16px;color:#f04040;font-family:Arial," 微软雅黑";}
	h4{line-height:99px;font-size:16px;color:#353535;font-family:Arial," 微软雅黑";}
	h5{line-height:42px;font-size:18px;color:#787878;font-family:Arial," 微软雅黑";}
	h6{line-height:28px;font-size:14px;color:#878787;font-family:Arial," 微软雅黑";}
	p{font-size:14px;line-height:28px;font-family:Arial," 微软雅黑";}
	

	.nav_about{border:1px #f04040 solid;border-radius:9px;}/* 当前所在页面导航栏样式 */
	

	#banner{width:1920px;height:450px;margin:0 auto;border-top:1px #f04040 solid;background:url(../images/news_banner.jpg)no-repeat center center;}
	.content{width:1000px;float:right;}
	/*关于雀氏开始*/
	.about_1{width:340px;height:389px;padding:43px 660px 0 0;border-top: 1px #d7d7d7 solid;background: url(../images/about_01.jpg) no-repeat right 50px;}
	.about_2{padding:42px 0;border-top: 1px #d7d7d7 solid;}
	.about_2 img{padding:43px 0;}
	.img_02{margin-left:50px;}
	.achievements{border-top: 1px #d7d7d7 solid;}
	.achi_1{width:310px;padding-top: 299px; background:url(../images/about_04.jpg) no-repeat left top;display: inline-block;text-align: center}
	.achi_2{width:310px;padding-top: 299px;margin: 0 30px; background:url(../images/about_05.jpg) no-repeat left top;display: inline-block;text-align: center}
	.achi_3{width:310px;padding-top: 299px;background:url(../images/about_06.jpg) no-repeat left top;display: inline-block;text-align: center}
	/*关于雀氏结束*/
	/*企业文化开始*/
	.con_content{width:1000px;float:right;}
	.con_content div{width:450px;display:inline-block;}
	.con_1{width:460px;height:349px;padding:43px 540px 0 0;border-top: 1px #d7d7d7 solid;background:url(../images/culture_01.jpg) no-repeat right 50px;}
	.con_2 ,.con_3 ,.con_5 ,.con_7 ,.con_9{float: right;}
	.con_4,.con_6 ,.con_8{float:left;}
	.con_3{padding-top:30px}
	/*企业文化结束*/
	 /*里程碑开始*/
	.his_2017{width:580px;height:140px;background:url(../images/history_01.jpg) no-repeat 160px 34px;padding:34px 0 0 420px;border-top: 1px #d7d7d7 solid;}
	.his_2016{width:580px;height:140px;background:url(../images/history_02.jpg) no-repeat 480px 34px;padding:34px 0 0 160px;}
	.his_2015{width:580px;height:140px;background:url(../images/history_03.jpg) no-repeat 160px 34px;padding:34px 0 0 420px;}
	.his_2014{width:580px;height:140px;background:url(../images/history_04.jpg) no-repeat 480px 34px;padding:34px 0 0 160px;}
	.his_2013{width:580px;height:140px;background:url(../images/history_05.jpg) no-repeat 160px 34px;padding:34px 0 0 420px;}
	.his_2012{width:580px;height:140px;background:url(../images/history_06.jpg) no-repeat 480px 34px;padding:34px 0 0 160px;}
	.his_2011{width:580px;height:140px;background:url(../images/history_07.jpg) no-repeat 160px 34px;padding:34px 0 0 420px;}
	.his_2010{width:580px;height:140px;background:url(../images/history_08.jpg) no-repeat 480px 34px;padding:34px 0 0 160px;}
	.his_2009{width:580px;height:140px;background:url(../images/history_09.jpg) no-repeat 160px 34px;padding:34px 0 0 420px;}
	.his_2008{width:580px;height:140px;background:url(../images/history_10.jpg) no-repeat 480px 34px;padding:34px 0 0 160px;}
	.his_2007{width:580px;height:140px;background:url(../images/history_11.jpg) no-repeat 160px 34px;padding:34px 0 0 420px;}	
	.his_2006{width:580px;height:140px;background:url(../images/history_12.jpg) no-repeat 480px 34px;padding:34px 0 0 160px;}
	/*里程碑结束*/