@charset "utf-8";
/* CSS Document */

	*{margin:0;padding:0;}
	li{list-style:none;}
	a{text-decoration:none;}
	
	h2{font-size:16px;line-height:28px;font-family: Arial," 微软雅黑";}
	h3{line-height:34px;padding:36px;text-align: center; font-size:14px;color:#535353;font-family:Arial," 微软雅黑";}
	h4{line-height:47px;font-family: Arial," 微软雅黑";}
	.more{font-size:14px;line-height:28px;margin-top:25px;color:#F04040;float:right;font-family: Arial," 微软雅黑";}
	p{font-size:12px;line-height:24px;font-family: Arial," 微软雅黑";}
	
	#banner{width:1920px;height:645px;margin:0 auto;background:url(../images/index_banner.jpg) no-repeat center center;}
	
	.title{width:1200px;height:100px;margin:0 auto;background: url(../images/index_title.png) no-repeat center 50px;}
	.title_about{width:252px;height:70px;margin:0 auto;background:#fff url(../images/index_07.png) no-repeat 45px top;}
	.title_pro{width:267px;height:70px;margin:0 auto;background:#fff url(../images/index_08.png) no-repeat 61px top;}
	.title_club{width:245px;height:70px;margin:0 auto;background:#fff url(../images/index_09.png) no-repeat 54px top;}
	.title_new{width:245px;height:70px;margin:0 auto;background:#fff url(../images/index_10.png) no-repeat 39px top;}
	.title p{line-height:30px;}
	.p_l{padding-top:36px;float:left;}
	.p_r{padding-top:40px;float:right;}

	.about{width:1200px;height:462px;margin:100px auto;}
	.about_txt{width:439px;height:268px;float:left;margin:50px 50px 0 40px;}
	.about_pic{width:614px;height:362px;float:left;margin:30px 20px 0 20px;}
	
	.pro{width:1920px;margin:100px auto; background:url(../images/index_product.jpg) no-repeat center 100px;}
	.pro_inner{width:1020px;margin:30px auto 0;}
	.pro_top{height:233px;margin-bottom:22px;}
	.pro_dot{height:233px;}

	.pro_l{width:319px;height:227px;float:left;margin-right:21px;position:relative; background-color:#fff;border:3px #f04040 solid;}
	.pro_r{width:319px;height:227px;float:left;background-color:#fff;border:3px #f04040 solid;}
	.pro_txt{width:85px;height:28px;margin:0 auto;background-image:url(../images/index_pro_txt.png)}
	.pro_inner p{font-size:16px;line-height:28px;color:#fff;text-align:center}
	.pro_pic{margin:13px 34px 0;}
	.gold {margin:0;position:absolute;left:-7px;top:-6px}	

	.club{width:1200px;height:666px;margin:100px auto;}
	.club_nav{width:600px;float:left;margin:30px 300px;}
	.club li{width:115px;float:left;}
	.club a{width:88px;line-height:22px;display:block;text-align: center}
	.hot {color:#fff; background:url(../images/index_club_nav.png) no-repeat center center;}
	.cold{color:#535353;}
	.club_l{width:369px;height:417px;margin:68px 0 0 23px;float:left;background-image: url(../images/index_club.jpg);position:relative;}

	
	.club_inner_l{width:259px;height:242px; padding:157px 13px 0;border:3px #f04040 solid;background:url(../images/index_club_01.jpg) no-repeat;position:absolute;left:41px;top:-65px;}
	.club_inner_c{width:285px;height:399px;border:3px #f04040 solid;background:url(../images/index_club_02.png) no-repeat;position:absolute;left:41px;top:-65px;}
	.club_inner_r{width:285px;height:399px;border:3px #f04040 solid;background:url(../images/index_club_03.jpg) no-repeat;position:absolute;left:41px;top:-65px;}	
	.club_inner p{line-height:28px;}
	
	
	.new{width:1200px;height:516px;margin:100px auto 0;}
	
	.new_imp{width:500px;height:384px;float:left;margin-top: 30px;background-image: url(../images/index_imp.jpg)}
	.new_imp p,.new_imp a{font-size: 16px;line-height:33px;color:#fff;}
	
	.imp_txt{width:482px;margin-top:351px;padding-left:18px;background-color:#F04040;}
	
	.new_nav{width:164px;height:384px;float:left;margin:0 20px 0 54px;}
	.nn_top{height:92px;margin-top:30px;padding:36px 0 0 15px;background:#d53535 url(../images/index_new_nav.png) no-repeat right center;}
	.nn_dot{height:91px;margin-top:1px;padding:36px 0 0 15px;background-color:#f04040;}
	
	.new_nav h3{font-size:16px;line-height:32px;padding:0;text-align: left;color:#fff;}
	.new_nav p{font-size:10px;line-height:10px;color:#fff;}
	
	.news{width:462px;height:416px;margin-top:30px;float:left;}
	.news img{width:77px;height:76px;margin:10px 20px 4px 0px;float:left;}
	.new_txt{width:365px;float:left;}
	.news_1{width:462px;height:88px;margin:4px 0;}
	.new_txt h3{line-height:40px;padding:0;}
	.news h5{margin-top:12px;}
