@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
#bj_404{
	width:1920px;
	height:1000px;
	background-image:url(../images/404.jpg);
	}
.by{
	width:682px;
	height:46px;
	font-family:"微软雅黑";
	font-size:40px;
	color:#333;
	float:left;
	margin-left:700px;
	margin-top:140px;
	line-height:46px;
	}
.an1{
	background-image:url(../images/an.png);
	width:338px;
	height:82px;
	font-family:"微软雅黑";
	font-size:34px;
	color:#fff;
	float:left;
	margin-left:618px;
	margin-top:500px;
	line-height:82px;
	text-align:center;
	}
.an2{
	background-image:url(../images/an.png);
	width:338px;
	height:82px;
	font-family:"微软雅黑";
	font-size:34px;
	color:#fff;
	float:right;
	margin-right:618px;
	margin-top:500px;
	line-height:82px;
	text-align:center;
	}
#bj_404 a{
	color:#FFF
	}


