@charset "utf-8";
/* CSS Document */




*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
#header{
	height:189px;
	}
	.header_top{
		height:136px;
		background-color:#1e1e1e; 
		}
		.header_top_inner{
			height:136px;
			width:1200px;
			margin:0 auto;
			}
			.header_top_inner img{
				margin-top:40px;
				margin-left:470px;
				}
			.header_top_inner p{
				background:url(../images/header_xj_06.jpg) no-repeat 30px 9px;
				float:right;
				font-family:"宋体";
				font-size:14px;
				color:#d8d8d8;
				margin-top:40px;
				}
			.header_top_inner p a{color:#d8d8d8;}
	.header_bot{
		height:50px;
		width:1200px;
		margin:0 auto;
		border-bottom:3px solid #1e1e1e;
		background:url(../images/header_jt_03.jpg) no-repeat 422px bottom;
		}
		.nav{
			float:left;
			margin-left:120px;
			}
			.navli{
				float:left;
				margin-left:50px;
				font-size:20px;
				font-family:"微软雅黑";
				line-height:50px;
				position:relative;
				}
				.nav2{
					position:absolute;
					left:0;
					top:30px;
					padding-top:26px;
					}
				.nav2li{
					font-size:18px;
					font-family:"微软雅黑";
					line-height:30px;
					display:none;
					}
				.navli:hover .nav2li{display:block;}
				.navli a{
					color:#656565;
					}
				.navli a:hover{
					color:#ffac94;
					}
				.nav2li a{
					color:#656565;
					}
				.nav2li a:hover{
					color:#ffac94;
					}
				.navli .home{color:#1e1e1e;}
		.header_search{
			float:right;
			margin-top:16px;
			width:190px;
			height:22px;
			border:1px solid #a0a0a0;
			border-radius:10px;
			}
			.search_input{
				width:150px;
				height:22px;
				float:left;
				border:none;
				margin-left:10px;
				font-size:10px;
				font-family:"宋体";
				line-height:22px;
				color:#b8b8b8;
				outline:none;
				}
			.search_point{
				width:20px;
				margin-right:10px;
				height:22px;
				float:right;
				background-color:#fff;
				background:#fff url(../images/search.png) no-repeat center center;
				border:none;
				cursor:pointer;
				outline:none;
				}
#banner{
	height:406px;
	background:url(../images/banner2_02.jpg) no-repeat center center;
	}
#main{
	width:1200px;
	height:1290px;
	margin:0 auto;
	}
	.main_nav{
		width:80px;
		height:260px;
		float:left;
		padding-top:100px;
		}
		.main_nav li a{
			line-height:36px;
			font-size:20px;
			font-family:"微软雅黑";
			color:#979798;
			}
		.main_nav li a:hover{
			color:#ffac94;
			}
		.main_nav .main_nav_point{
			border-bottom:1px solid #ffac94;
			}
		.main_nav .main_nav_point a{
			color:#ffac94;
			}
	.main_content{
		float:right;
		width:1080px;
		height:1290px;
		}
		.content_top{
			height:560px;
			padding-top:40px;
			}
			.content_top_left{
				height:560px;
				width:310px;
				float:left;
				}
				.top_img1{
					width:310px;
					height:280px;
					margin-bottom:10px;
					}
				.top_img1:hover img{
					transform:rotate(360deg);
					transition:2s;
					}
				.top_img2{
					width:310px;
					height:270px;
					}
				.top_img2:hover img{
					border-radius:60px;
					transition:1s;
					}
			.content_top_right{
				float:right;
				padding:50px;
				height:460px;
				width:660px;
				background-color:#fabead;
				}
				.content_top_right p{
					color:#fff;
					font-size:18px;
					font-family:"微软雅黑";
					line-height:36px;
					text-indent:36px;
					}
		.content_bot{
			height:610px;
			padding-top:40px;
			}
			.content_bot1{
				height:290px;
				margin-bottom:10px;
				}
				.bot1_left{
					width:458px;
					height:290px;
					float:left;
					background-color:#f2d1c8;
					}
				.bot1_left:hover .bot1_left_title{
					transform:rotate(360deg);
					transition:1s;
					}
					.bot1_left_title{
						width:215px;
						height:70px;
						margin:0 auto;
						margin-top:90px;
						border-left:1px solid #fff;
						padding-left:15px;
						
						}
						.bot1_left_title h4{
							font-weight:normal;
							font-size:24px;
							font-family:"微软雅黑";
							line-height:24px;
							color:#fff;
							margin-bottom:5px;
							}
						.bot1_left_title h4 a{
							color:#F6F;
							}
						.bot1_left_title p a{
							color:#FF6699;
							}
						.bot1_left_title p{
							font-size:20px;
							font-family:arial;
							color:#fff;
							line-height:23px;
							text-transform:uppercase;
							}
						.bot1_left:hover h4 a{
							color:#FF6699;
							transition:1s;
							}
						.bot1_left:hover p a{
							color:#F6F;
							transition:1s;
							}
				.bot1_right{
					width:612px;
					height:290px;
					position:relative;
					float:right;
					}
					.img_front{
						position:absolute;
						left:0px;
						top:0px;
						-webkit-transform: scaleX(1);
						transform: scaleX(1);
						-webkit-transition:1s 1s all ease;
						ransition:1s 1s all ease;
						}
					.img_back{
						position:absolute;
						left:0px;
						top:0px;
						-webkit-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transition:1s all ease;
						ransition:1s all ease;
						}
					.bot1_right:hover .img_front{
						-webkit-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transition:1s all ease;
						ransition:1s all ease;
						}
					.bot1_right:hover .img_back{
						-webkit-transform: scaleX(1);
						transform: scaleX(1);
						-webkit-transition:1s 1s all ease;
						ransition:1s 1s all ease;
						}
			.content_bot2{
				height:310px;
				}
				.bot2_left{
					width:320px;
					height:310px;
					float:left;
					margin-right:10px;
					position:relative;
					}
					.bot2_left_mask{
						width:320px;
						height:310px;
						background:rgba(255,51,51,0.2);
						position:absolute;
						left:0;
						top:0;
						display:none;
						}
					.bot2_left:hover .bot2_left_mask{
						display:block;
						}
				.bot2_mid{
					float:left;
					height:310px;
					width:300px;
					overflow:hidden;
					}
				.bot2_mid:hover img{
					transform:scale(1.2);
					transition:1s;
					}
				.bot2_right{
					float:right;
					height:310px;
					width:440px;
					}
				.bot2_right:hover img{
					border-radius:60px;
					transition:1s;
					}
#footer{
	height:275px;
	width:1200px;
	margin:0 auto;
	border-top:1px solid #bfbfbf;
	}
	#footer ul{
		float:left;
		margin-right:110px;
		padding-top:42px;
		}
		#footer ul li{
			line-height:24px;
			font-size:14px;
			font-family:"微软雅黑";
			color:#747474;
			}
		#footer ul li a{
			color:#747474;
			}
		#footer ul h4{
			line-height:36px;
			font-size:18px;
			font-family:"微软雅黑";
			color:#000;
			font-weight:normal;
			border-bottom:1px solid #c1c1c1;
			}
		#footer ul h4 a{
			color:#000;
			}
	.footer_img{
		padding-top:78px;
		float:right;
		}
#copy{
	height:46px;
	background-color:#393939;
	}
	.copy_inner{
		height:46px;
		width:1200px;
		margin:0 auto;
		line-height:46px;
		text-align:center;
		font-family:"宋体";
		font-size:12px;
		color:#d1d1d1;
		}
	.copy_inner a{color:#d1d1d1;}
#ToTop{
	position:fixed;
	right:30px;
	bottom:60px;
	}
