@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
/*头部开始*/
#header{
	height:120px;
	
	}
.header_inner{
	width:1200px;
	height:120px;
	margin:0 auto;

	}
.logo{
	float:left;
	margin-top:13px;
	
	}
.nav{
	width:902px;
	height:120px;
	float:right;
	
	}
.nav li{
	width:150px;
	height:120px;
	float:left;
	text-align:center;
	line-height:120px;
	position:relative;
	
	}
.nav li a{
	color:#ef454c;
	font-family:"微软雅黑";
	font-size:18px;
	
	}
.nav li .sub{
	position:absolute;
	left:0px;
	top:100px;
	display:none;
	z-index:999;
	}
.nav li .sub p{
	width:150px;
	height:40px;
	text-align:center;
	line-height:40px;
	margin-bottom:10px;

	}
.nav li .sub p a{
	font-family:"微软雅黑";
	font-size:14px;
	color:#e5e5e5;

	}
.nav li .sub a:hover{
	color:#fff;
	
	}
.nav li:hover a{
	width:150px;
	background-color:#ef454c;
	color:#fff;
	font-weight:bold;
	display:block;
	
	
	}
.nav li:hover .sub{
	width:150px;
	background-color:#ef454c;
	display:block;
	
	}
/*头部结束*/
/*Banner区域开始*/
#banner{
	height:500px;
	background:url(../images/products_banner_02.jpg) no-repeat center top;
	text-align:center;
	
	}
.banner_inner{
	width:1200px;
	height:500px;
	margin:0 auto;
	position:relative;

	}
/*面包屑导航*/
.breadcrumb_nav{
	position:absolute;
	right:0px;
	bottom:20px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#fff;
	}
.breadcrumb_nav a{
	color:#fff;
	
	}
.breadcrumb_nav a:hover{
	text-decoration:underline;
	
	}
/*Banner区域结束*/
/*内容区域开始*/
#main{
	width:1200px;
	height:1798px;
	margin:0 auto;
	position:relative;
	
	}
.seach{
	width:530px;
	height:50px;
	position:absolute;
	left:333px;
	top:117px;

	}
.text1{
	width:290px;
	height:50px;
	background:url(../images/product_seach_05_05.jpg);
	border:none;
	float:left;	
	color:#c8c6c7;
	font-family:""微软雅黑;
	font-size:24px;
	color:#ef454c;
	padding-left:182px;

	}
.btn{
	width:58px;
	height:50px;
	background:url(../images/product_seach_05_05.jpg) right top;
	border:none;
	float:left;	
	cursor:pointer;
	
	}
.nav_third{
	width:1200px;
	height:78px;
	margin:0 auto;
	position:relative;
	left:0px;
	top:273px;
	
	}
.nav_third1{
	width:299px;
	height:78px;
	background-color:#ef454c;
	line-height:78px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:18px;
	font-weight:bold;
	float:left;
	position:absolute;
	left:0;
	top:0;
	
	}
.nav_third1 a{
	color:#fff;
	
	}
.nav_third2{
	width:299px;
	height:50px;
	background-color:#999999;
	line-height:50px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:18px;
	float:left;
	transition:0.2s;
	position:absolute;
	left:300px;
	bottom:0;

	}
.nav_third2 a{
	color:#fff;
	
	}
.nav_third2:hover{
	width:299px;
	height:78px;
	background-color:#ef454c;
	line-height:78px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:18px;
	font-weight:bold;
	float:left;

	}
.nav_third3{
	width:299px;
	height:50px;
	background-color:#999999;
	line-height:50px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:18px;
	float:left;
	transition:0.2s;
	position:absolute;
	left:600px;
	bottom:0;

	}
.nav_third3 a{
	color:#fff;
	
	}
.nav_third3:hover{
	width:299px;
	height:78px;
	background-color:#ef454c;
	line-height:78px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:18px;
	font-weight:bold;
	float:left;

	}
.nav_third4{
	width:299px;
	height:50px;
	background-color:#999999;
	line-height:50px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:18px;
	float:left;
	transition:0.2s;
	position:absolute;
	left:900px;
	bottom:0;

	}
.nav_third4 a{
	color:#fff;
	
	}
.nav_third4:hover{
	width:299px;
	height:78px;
	background-color:#ef454c;
	line-height:78px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:18px;
	font-weight:bold;
	float:left;
	
	}
.products{
	width:1200px;
	height:1194px;
	margin:0 auto;
	position:absolute;
	left:0;
	top:351px;
	
	}
.products_top{
	width:1200px;
	height:597px;
	
	}
.products_1{
	width:300px;
	height:597px;
	text-align:center;
	float:left;
	position:relative;
	
	}
.hover_text{
	background-color:rgba(0,0,0,0.85);
	width:300px;
	height:490px;
	padding-top:107px;
	position:absolute;
	left:0;
	top:0;
	opacity:0;
	transition:0.2s;

	}
.products_1:hover .hover_text{
	opacity:1;
	}
.title1{
	font-family:"微软雅黑";
	font-size:14px;
	line-height:28px;
	color:#fff;
	
	}
.title{
	font-family:"微软雅黑";
	font-size:18px;
	line-height:30px;
	color:#fff;
	
	}
.txt{
	font-family:"微软雅黑";
	font-size:12px;
	line-height:30px;
	color:#fff;
	
	}
/*内容区域结束*/
/*footer区域开始*/
#footer{
	width:1200px;
	height:452px;
	margin:0 auto;
	
	}
.footer_line{
	margin:0 auto;
	border-bottom:1px rgba(239,69,76,0.15) solid;
	}		

.footer_1{
	float:left;
	margin-top:50px;
	height:246px;
	width:200px;
	line-height:30px;
	padding-bottom:55px;
	
	}
.footer_1 a{
	font-family:"微软雅黑";
	font-size:12px;
	color:#858585;
	
	}
.footer_1 a h4{
	color:#343434;
	
	}
.footer_1 a:hover{
	color:rgba(235,28,36,0.5);

	}
.copy{
	width:1200px;
	margin:0 auto;
	text-align:center;
	font-family:arial,"微软雅黑";
	font-size:12px;
	line-height:23px;
	color:#858585;

	}
.more a{
	width:118px;
	height:38px;
	border:1px #eb1c24 solid;
	margin-top:106px;
	text-align:center;
	line-height:38px;
	font-family:"微软雅黑";
	font-size:12px;
	display:block;
	color:#eb1c24;
	transition:0.2s;
	position:absolute;
	bottom:118px;
	right:518px;
	
	}
.more:hover a{
	width:118px;
	height:38px;
	background-color:#eb1c24;
	color:#fff;
	
	}
/*footer区域结束*/
/*左侧固定悬浮按钮开始*/
#icons{
	height:197;
	width:57px;
	float:right;
	position:fixed;
	right:100px;
	top:300px;
	
	
	}
.icons1{
	height:57px;
	width:57px;
	margin-bottom:13PX;
	background:url(../images/icons-hou_03.png) no-repeat center center;
	
	}
.icons1 a{
	display:none;
	
	}
.icons1:hover a{
	display:block;

	}
.icons2{
	height:57px;
	width:57px;
	margin-bottom:13PX;
	background:url(../images/icons-hou_06.png) no-repeat center center;
	
	}
.icons2 a{
	display:none;
	}
.icons2:hover a{
	display:block;
	
	}
.icons3{
	height:57px;
	width:57px;
	margin-bottom:13PX;
	background:url(../images/icons-hou_08.png) no-repeat center center;
	
	}
.icons3 a{
	display:none;
	}
.icons3:hover a{
	display:block;
	
	}
/*左侧固定悬浮按钮结束*/

