@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
#header{height:100px;width:1200px;margin:0 auto;}
.logo{float:left;margin:25px 27px;}
.nav{float:right;}
.nav1{
	  width:108px;
	  line-height:100px;
	  float:left;
	  font-family:"微软雅黑";
	  font-size:18px;
	  text-align:center;
	  display:block;
	  background:url(../images/index-nav-bg_06.jpg)  no-repeat right center;
	 }
.nav2{
	  width:108px;
	  line-height:100px;
	  float:left;
	  font-family:"微软雅黑";
	  font-size:18px;
	  text-align:center;
	  display:block;
	 }
.sy{color:#8298e8;}
.nav_a{color:#010101;}
.nav_a:hover{color:#8298e8;}
.searck form{float:right;margin-top:38px;}
.tex1{
	  width:100px;
	  height:26px;
	  background:url(../images/input_06.png);
	  border:none;
	  float:left;
	  color:#999;
	  padding-left:10px;
	  }
.btn{
	 width:27px;
	 height:26px;
	 background:url(../images/input_06.png) right top;
	 border:none;
	 float:left;
	 cursor:pointer;
	 }

#banner {
	height:110px;
	background:url(../images/sh_pic_02.jpg) no-repeat;
	text-align:center;
	padding-top:305px
	}

.tool {
	width:540px;
	height:73px;
	margin:0 auto;
	}

.tool li {
	width:179px;
	float:left;
	line-height:73px;
	font-family:"微软雅黑";
	font-size:20px;
	border-right:1px solid #fff;
	}

.tool a {
	color:#fff;
	}

.tool2 {
	background-color:#7f7f7f;
	}

.tool3 {
	background-color:#ff1053;
	}

.tool4 {
	background-color:#7f7f7f;
	}


.tool2:hover {
	background:#94ddbc;
	}

.tool3:hover {
	background:#ff1053;
	}

.tool4:hover {
	background:#ff8e16;
	}

.main_inner{
	width:1200px;
	height:1730px;
	margin:0 auto;
	}
.bread {
	height:90px;
	width:1200px;
	}

.bread p {
	width:200px;
	height:14px;
	float:right;
	font-size:14px;
	font-family:"微软雅黑";
	color:#505050;
	}

.bread p a{
	color:#505050;
	}

.bread p a:hover{
	color:#0027c7;
	}

.box{
	height:400px;
	}

.box_inner{
	width:1200px;
	height:400px;
	margin:0 auto;
	position:relative;
	}

.box1{
	width:1078px;
	height:348px;
	border:1px solid #e6e6e6;
	margin:0 auto;
	}

.box_text{
	width:429px;
	height:312px;
	float:right;
	}

.box_text h{
	font-size:18px;
	font-family:"微软雅黑";
	line-height:112px;
	color:#807e7e;
	}

.box_text p{
	font-size:14px;
	font-family:"微软雅黑";
	line-height:26px;
	color:#807e7e;
	margin-left:26px;
	}

.box_pic{
	position:absolute;
	left:0;
	bottom:0;
	}

.more1 {
	width:100px;
	height:34px;
	display:block;
	background:#acbcd3;
	font-size:12px;
	color:#fff;
	text-align:center;
	line-height:34px;
	margin-top:30px;
	margin-left:289px;
	}

.more1:hover {
	background:#05287e;
	}

.box_inner2{
	width:1200px;
	height:400px;
	margin:0 auto;
	position:relative;
	margin-top:114px;
	}

.box1{
	width:1078px;
	height:348px;
	border:1px solid #e6e6e6;
	margin:0 auto;
	}

.box_text2{
	width:413px;
	height:312px;
	float:left;
	margin-left:36px;
	}

.box_text2 h{
	font-size:18px;
	font-family:"微软雅黑";
	line-height:120px;
	color:#807e7e;
	margin-left:40px;
	}

.box_text2 p{
	font-size:14px;
	font-family:"微软雅黑";
	line-height:26px;
	color:#807e7e;
	margin:0 auto;
	text-indent:28px;
	}

.box_pic1{
	position:absolute;
	right:0;
	bottom:0;
	}

.more2{
	width:100px;
	height:34px;
	display:block;
	background:#acbcd3;
	font-size:12px;
	color:#fff;
	text-align:center;
	line-height:34px;
	margin-top:70px;
	margin-left:300px;
	}

.more2:hover {
	background:#05287e;
	}

.box_inner3{
	width:1200px;
	height:400px;
	margin:0 auto;
	position:relative;
	margin-top:114px;
	}

.box_text3{
	width:422px;
	height:322px;
	float:right;
	margin-right:33px;
	}

.box_text3 h{
	font-size:18px;
	font-family:"微软雅黑";
	line-height:120px;
	color:#807e7e;
	margin-left:40px;
	}

.box_text3 p{
	font-size:14px;
	font-family:"微软雅黑";
	line-height:26px;
	color:#807e7e;
	margin:0 auto;
	text-indent:28px;}

.more3{
	width:100px;
	height:34px;
	display:block;
	background:#acbcd3;
	font-size:12px;
	color:#fff;
	text-align:center;
	line-height:34px;
	margin-top:46px;
	margin-left:300px;

	}

.more3:hover {
	background:#05287e;
	}

.main_top{
	width:1200px;
	margin:0 auto;
	}
.bread {
	height:90px;
	width:1200px;
	}

.bread p {
	width:200px;
	height:14px;
	float:right;
	font-size:14px;
	font-family:"微软雅黑";
	color:#505050;
	}

.bread p a{
	color:#505050;
	}

.bread p a:hover{
	color:#8298e8;
	}

.good{width:1200px;
	height:440px;
	}
.good_pic{width:659px;
			height:440px;
	background:url(../images/gymt_05.jpg) no-repeat;
		float:left;}
.good_text1{background-color:#4f3b41;
			float:right;
			width:541px;
		height:440px;}
.good_text{width:440px;
		height:440px;
		margin-left:50px;
		
		
		}
.good_text h4{font-size:24px;
			font-family:"微软雅黑";
			color:#fff;
			margin-top:77px;
			text-align:center;
			font-weight:normal;}
.good_text h5{font-size:14px;
			font-family:"微软雅黑";
			color:#fff;
			text-align:center;
			font-weight:normal;}

.good_text li{font-size:14px;
			font-family:"微软雅黑";
			color:#fff;
			line-height:32px;
			margin-top:29px;
			text-indent:26px;
			}
.main_mid{
	height:470px;
	background-color:#ebebeb;
	margin-top:33px;
	
	}
.mid_inner{
	height:470px;
	width:1200px;
	margin:0 auto;
	
	}
.mid_inner_top{
	height:50px;
	padding-top:30px;
	}
.hh{
	width:160px;
	float:left;
	height:46px;
	
	}
.mid_inner_top h4{
	font-family:"微软雅黑";
	font-size:24px;
	color:#ff1053;
	font-weight:normal;
	width:160px;
	
	}
.mid_inner_top h5{
	font-family:arial;
	font-size:14px;
	color:#1c1c1c;
	font-weight:normal;
	width:160px;
	
	}
.top_right{
	float:right;
	height:46px;
	width:510px;
	
	}

.top_right ul li{
	float:left;
	width:88px;
	height:34px;
	text-align:center;
	line-height:34px;
}
.top_right ul li a{
	color:#fff;
	}
.box1{
	width:88px;
	height:34px;
	background-color:#ff1053;
	margin-right:17px;
	}
.box2{
	width:88px;
	height:34px;
	background-color:#202f38;
	margin-right:17px;
	}
.box3{
	width:88px;
	height:34px;
	background-color:#202f38;
	margin-right:17px;
	}
.box4{
	width:88px;
	height:34px;
	background-color:#202f38;
	margin-right:17px;
	}
.box5{
	width:88px;
	height:34px;
	background-color:#202f38;
	}
.box2:hover{
	background-color:#ff1053;
	}
.box3:hover{
	background-color:#ff1053;
	}
.box4:hover{
	background-color:#ff1053;
	}
.box5:hover{
	background-color:#ff1053;
	}
.main_pic{
	height:266px;
	margin-top:68px;
	}
.left_pic{
	height:266px;
	width:470px;
	background: url(../images/gymmjpg_09.jpg);
	float:left;
	}
.min_text{width:567px;
		 height:300px;
		 float:left;
		 margin-left:53px;}


.min_text h4{font-size:24px;
		font-family:"微软雅黑";
		color:#ff1053;}
.min_text p{font-size:14px;
		font-family:"微软雅黑";
		color:#202f38;
		line-height:24px;
		margin-top:5px;}
.main-middle{height:470px;background-color:#ebebeb;margin-top:38px;}
.main-middle-inner{height:76px;width:1200px;margin:0 auto;}
	.main-middle-r{width:105px;margin-left:30px;text-align:center;padding-top:26px;float:left;}
		.title1{font-size:20px;font-family:"微软雅黑";line-height:35px;color:#ff1053;}
		.e1{font-size:12px;font-family:arial;color:#202f38;}
	.main-m-box{width:506px;height:34px;float:right;margin-top:42px;}
		.main-m-box1{
					 width:88px;
					 height:34px;
					 background-color:#ff1053;
					 color:#fff;
					 font-size:18px;
					 font-family:"微软雅黑";
					 text-align:center;
					 line-height:34px;
					 float:left;
					 }
		.main-m-box2{
					 width:88px;
					 height:34px;
					 background-color:#202f38;
					 color:#fff;
					 font-size:18px;
					 font-family:"微软雅黑";
					 text-align:center;
					 line-height:34px;
					 margin-left:16px;
					 float:left;
					 }
		.main-m-box2:hover{
						   width:88px;
						   height:34px;
						   background-color:#ff1053;
						   margin-left:16px;
						   float:left;
						   }
	.main-m-bot{height:266px;width:1140px;margin:0 auto;margin-top:68px;}
		.main-m-bot-pic{float:left;}
		.main-m-bot-text{width:568px;float:right;margin-right:48px;font-family:"微软雅黑";}
		.main-m-bot-text h3{font-size:20px;color:#ff1053;}
		.main-m-bot-text p{font-size:14px;color:#202f38;line-height:24px;padding-top:26px;}
.main-bot{height:480px;width:1200px;margin:0 auto;position:relative;}
	.main-bottom{width:934px;height:270px;margin:0 auto;margin-top:46px;}
		.main-bottom1{
					  height:270px;
					  width:226px;
					  background-color:#ff1053;
					  color:#fff;
					  font-size:14px;
					  font-family:"微软雅黑";
					  text-align:center;
					  line-height:24px;
					  float:left;
					  }
		.main-bottom2{
					  height:270px;
					  width:226px;
					  background-color:#ebebeb;
					  color:#202f38;
					  font-size:14px;
					  font-family:"微软雅黑";
					  text-align:center;
					  line-height:24px;
					  margin-left:10px;
					  float:left;
					  }
		.main-bottom2:hover{
						    height:270px;
						    width:226px;
						    background-color:#ff1053;
						    color:#fff;
						    font-size:14px;
							margin-left:10px;
							float:left;
						    }
			.main-bottom-pic{padding-top:7px;margin-bottom:22px;}
	.social-icons-l{width:36px;height:58px;background:url(../images/social-icons_03.jpg);position:absolute;left:74px;top:230px;}
	.social-icons-l:hover{width:36px;height:58px;background:url(../images/social-icons1_03.jpg);position:absolute;left:74px;top:230px;}
	.social-icons-r{width:36px;height:58px;background:url(../images/social-icons_05.jpg);position:absolute;right:74px;top:230px;}
	.social-icons-r:hover{width:36px;height:58px;background:url(../images/social-icons1_05.jpg);position:absolute;right:74px;top:230px;}
#footer {
	height:300px;
	background-color:#001420;
	}

.footer_inner {
	width:1200px;
	height:300px;
	margin:0 auto;
	}

.inner_top {
	height:208px;
	}

.footer_inner1 {
	width:144px;
	float:left;
	}

.footer_inner1 h4 {
	font-size:14px;
	font-family:"微软雅黑";
	line-height:72px;
	margin-top:6px;
	color:#fff;
	margin-left:66px;
	}

.footer_inner1 li {
	font-size:12px;
	font-family:"微软雅黑";
	line-height:18px;
	margin-left:70px;
	}

.footer_inner1 li a {
	color:#fff;
	}

.footer_inner7 {
	float:left;
	}

.footer_inner7 h4 {
	font-size:14px;
	font-family:"微软雅黑";
	line-height:24px;
	margin-top:30px;
	color:#fff;
	margin-left:66px;
	}

.footer_inner7 li {
	font-size:12px;
	font-family:"微软雅黑";
	line-height:18px;
	margin-left:66px;
	}

.footer_inner7 li a {
	color:#fff;
	}

.zx {
	float:left;
	width:73px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	line-height:24px;
	margin-left:63px;
	margin-right:21px;
	}

.wb {
	float:left;
	width:73px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	line-height:24px;
	margin-right:21px;
	}

.wx {
	float:left;
	width:73px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	line-height:24px;
	}

.zhuxue {
	float:left;
	margin-left:66px;
	margin-right:16px;
	margin-top:15px;
	}

.weibo {
	float:left;
	margin-right:16px;
	margin-top:15px;
	}

.weixin {
	float:left;
	margin-top:15px;
	}

.inner_bot {
	height:90px;
	}

.copy {
	float:left;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	line-height:56px;
	margin-top:28px;
	margin-left:66px;
	}

.Public {
	float:right;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	line-height:56px;
	margin-top:28px;
	margin-right:66px;
	}



