@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
#header{height:100px;width:1200px;margin:0 auto;}
.logo{float:left;margin:25px 27px;}
.nav{float:right;}
.nav1{
	  width:108px;
	  line-height:100px;
	  float:left;
	  font-family:"微软雅黑";
	  font-size:18px;
	  text-align:center;
	  display:block;
	  background:url(../images/index-nav-bg_06.jpg)  no-repeat right center;
	 }

.nav2{
	  width:108px;
	  line-height:100px;
	  float:left;
	  font-family:"微软雅黑";
	  font-size:18px;
	  text-align:center;
	  display:block;
	 }

.sy{color:#8298e8;}

.nav_a{color:#010101;}

.nav_a:hover{color:#8298e8;}

.searck form{float:right;margin-top:38px;}

.tex1{
	  width:100px;
	  height:26px;
	  background:url(../images/input_06.png);
	  border:none;
	  float:left;
	  color:#999;
	  padding-left:10px;
	  }
.btn{
	 width:27px;
	 height:26px;
	 background:url(../images/input_06.png) right top;
	 border:none;
	 float:left;
	 cursor:pointer;
	 }


#banner {
	height:110px;
	background:url(../images/banner_02.jpg) no-repeat;
	text-align:center;
	padding-top:305px
	}

.tool {
	width:722px;
	height:73px;
	margin:0 auto;
	}

.tool li {
	width:179px;
	float:left;
	line-height:73px;
	font-family:"微软雅黑";
	font-size:20px;
	border-right:1px solid #fff;
	}

.tool a {
	color:#fff;
	}

.tool1 {
	background-color:#ff8e16;
	}

.tool2 {
	background-color:#7f7f7f;
	}

.tool3 {
	background-color:#7f7f7f;
	}

.tool4 {
	background-color:#7f7f7f;
	}


.tool2:hover {
	background:#336699;
	}

.tool3:hover {
	background:#ff1053;
	}

.tool4:hover {
	background:#8d5a97;
	}

.main_inner{
	width:1200px;
	height:1730px;
	margin:0 auto;
	}
.bread {
	height:90px;
	width:1200px;
	}

.bread p {
	width:200px;
	height:14px;
	float:right;
	font-size:14px;
	font-family:"微软雅黑";
	color:#505050;
	}

.bread p a{
	color:#505050;
	}

.bread p a:hover{
	color:#8298e8;
	}

.box{
	height:400px;
	}

.box_inner{
	width:1200px;
	height:400px;
	margin:0 auto;
	position:relative;
	}

.box1{
	width:1078px;
	height:348px;
	border:1px solid #e6e6e6;
	margin:0 auto;
	}

.box_text{
	width:429px;
	height:312px;
	float:right;
	}

.box_text h{
	font-size:18px;
	font-family:"微软雅黑";
	line-height:112px;
	color:#807e7e;
	}

.box_text p{
	font-size:14px;
	font-family:"微软雅黑";
	line-height:26px;
	color:#807e7e;
	margin-left:26px;
	}

.box_pic{
	position:absolute;
	left:0;
	bottom:0;
	}

.more1 {
	width:100px;
	height:34px;
	display:block;
	background:#acbcd3;
	font-size:12px;
	color:#fff;
	text-align:center;
	line-height:34px;
	margin-top:30px;
	margin-left:289px;
	}

.more1:hover {
	background:#05287e;
	}

.box_inner2{
	width:1200px;
	height:400px;
	margin:0 auto;
	position:relative;
	margin-top:114px;
	}

.box1{
	width:1078px;
	height:348px;
	border:1px solid #e6e6e6;
	margin:0 auto;
	}

.box_text2{
	width:413px;
	height:312px;
	float:left;
	margin-left:36px;
	}

.box_text2 h{
	font-size:18px;
	font-family:"微软雅黑";
	line-height:120px;
	color:#807e7e;
	margin-left:40px;
	}

.box_text2 p{
	font-size:14px;
	font-family:"微软雅黑";
	line-height:26px;
	color:#807e7e;
	margin:0 auto;
	text-indent:28px;
	}

.box_pic1{
	position:absolute;
	right:0;
	bottom:0;
	}

.more2{
	width:100px;
	height:34px;
	display:block;
	background:#acbcd3;
	font-size:12px;
	color:#fff;
	text-align:center;
	line-height:34px;
	margin-top:70px;
	margin-left:300px;
	}

.more2:hover {
	background:#05287e;
	}

.box_inner3{
	width:1200px;
	height:400px;
	margin:0 auto;
	position:relative;
	margin-top:114px;
	}

.box_text3{
	width:422px;
	height:322px;
	float:right;
	margin-right:33px;
	}

.box_text3 h{
	font-size:18px;
	font-family:"微软雅黑";
	line-height:120px;
	color:#807e7e;
	margin-left:40px;
	}

.box_text3 p{
	font-size:14px;
	font-family:"微软雅黑";
	line-height:26px;
	color:#807e7e;
	margin:0 auto;
	text-indent:28px;}

.more3{
	width:100px;
	height:34px;
	display:block;
	background:#acbcd3;
	font-size:12px;
	color:#fff;
	text-align:center;
	line-height:34px;
	margin-top:46px;
	margin-left:300px;
	}

.more3:hover {
	background:#05287e;
	}

.main_bot {
	height:149px;
	width:1200px;
	}
.main_bot ul{
	width:300px;
	height:149px;
	float:left;
	margin-left:434px;
	}
.main_bot li {
	float:left;
	margin-left:10px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#505050;
	line-height:149px;
	display:block;
	}

.main_bot li a{
	color:#505050;
	}

.main_bot li a:hover{color:#0027c7;}

#footer {
	height:300px;
	background-color:#001420;
	}

.footer_inner {
	width:1200px;
	height:300px;
	margin:0 auto;
	}

.inner_top {
	height:208px;
	}

.footer_inner1 {
	width:144px;
	float:left;
	}

.footer_inner1 h4 {
	font-size:14px;
	font-family:"微软雅黑";
	line-height:72px;
	margin-top:6px;
	color:#fff;
	margin-left:66px;
	}

.footer_inner1 li {
	font-size:12px;
	font-family:"微软雅黑";
	line-height:18px;
	margin-left:70px;
	}

.footer_inner1 li a {
	color:#fff;
	}

.footer_inner7 {
	float:left;
	}

.footer_inner7 h4 {
	font-size:14px;
	font-family:"微软雅黑";
	line-height:24px;
	margin-top:30px;
	color:#fff;
	margin-left:66px;
	}

.footer_inner7 li {
	font-size:12px;
	font-family:"微软雅黑";
	line-height:18px;
	margin-left:66px;
	}

.footer_inner7 li a {
	color:#fff;
	}

.zx {
	float:left;
	width:73px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	line-height:24px;
	margin-left:63px;
	margin-right:21px;
	}

.wb {
	float:left;
	width:73px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	line-height:24px;
	margin-right:21px;
	}

.wx {
	float:left;
	width:73px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	line-height:24px;
	}

.zhuxue {
	float:left;
	margin-left:66px;
	margin-right:16px;
	margin-top:15px;
	}

.weibo {
	float:left;
	margin-right:16px;
	margin-top:15px;
	}

.weixin {
	float:left;
	margin-top:15px;
	}

.inner_bot {
	height:90px;
	}

.copy {
	float:left;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	line-height:56px;
	margin-top:28px;
	margin-left:66px;
	}

.Public {
	float:right;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	line-height:56px;
	margin-top:28px;
	margin-right:66px;
	}



