@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
a{text-decoration:none;}
li{list-style:none;}

/***************TOP***************/
#top{
	width:57px;
	height:191px;
	position:fixed;
	right:50px;
	bottom:300px;
	z-index:98;
	}
#top a{
	display:none;
	}
#top .tm:hover a{
	display:block;
	}
.tm{
	width:57px;
	height:57px;
	background:url(../images/icons-hou_03.png);
	}
#top .jd:hover a{
	display:block;
	}
.jd{
	width:57px;
	height:57px;
	margin-top:10px;
	background:url(../images/icons-hou_06.png);
	}
#top .gotop:hover a{
	display:block;
	}
.gotop{
	width:57px;
	height:57px;
	margin-top:10px;	
	background:url(../images/icons-hou_08.png);
	}
/***************头部导航***************/
#header{
	height:120px;
	border-bottom:1px solid #fde3e4;
	}
.header_mid{
	width:1200px;
	height:120px;
	margin:0 auto;
	}
.logo{
	margin-top:13px;
	float:left;
	}
.nav{
	float:right;
	}
.nav li{
	float:left;
	width:150px;	
	text-align:center;
	line-height:120px;
	position:relative;
	}

/***************导航下拉***************/
.sub{
	display:none;
	}
.nav li .sub p{
	width:150px;
	line-height:44px;
	color:#f9c3c4;
	text-align:center;
	font-size:14px;
	font-family:"微软雅黑";
	}
.nav li .sub{
	position:absolute;
	left:0px;
	top:0px;
	background:#ef454c;
	padding-top:120px;
	padding-bottom:10px;
	z-index:99;
	}
	.nav li .nav_inside{
		line-height:44px;
		}
.nav li:hover .sub{
	display:block;
	}
.nav li .sub p:hover .nav_inside{
	color:#fff;
	font-size:14px;
	
	}
.nav_inside{
	width:150px;
	line-height:44px;
	color:#f9c3c4;
	text-align:center;
	font-size:14px;
	font-family:"微软雅黑";
	}
.nav li .nav_h3{
	position:absolute;
	left:31px;
	top:0px;
	color:#fff;
	font-size:18px;
	display:none;
	font-family:"微软雅黑";
	}
.nav li:hover .nav_h3{
	display:block;
	z-index:999;
	}
	
.nav li .nav_nav{
	color:#b71515;
	font-size:18px;
	font-family:"微软雅黑";
	line-height:120px;
	display:block;
	}
.nav li .nav_nav:hover{
	height:120px;
	width:150px;
	background-color:#ef454c;
	color:#fff;
	font-weight:bold;
	}

/*****返回首页按钮*****/
.btn{
	width:1200px;
	height:40px;
	margin:0 auto;
	padding-top:62px;
	}
.button{
	width:118px;
	height:38px;
	border:1px #eb1c24 solid;
	text-align:center;
	line-height:38px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#fff;
	margin:0 auto;
	}
.button .back{
	width:118px;
	height:38px;
	display:block;
	color:#eb1c24;
	}
.button:hover{
	background-color:#eb1c24;
	}
.button:visited{
	color:#eb1c24;

	}
.button:hover .back{
	color:#fff;
	}

/***************banner***************/
#banner{
	height:500px;
	background:url(../images/products_02.jpg) center top no-repeat;
	}
.banner_mid{
	width:1200px;
	height:500px;
	position:relative;
	margin:0 auto;
	}
.banner_nav{
	line-height:52px;
	color:#fff;
	font-size:12px;
	position:absolute;
	right:0;
	bottom:0;
	}
.banner_nav a{
	color:#fff;
	}
/***************main***************/	
#main{
	height:3000px;
	}
.main_mid{
	width:1200px;
	margin:0 auto;
	}
/*****搜索合适产品*****/
.search{
	height:156px;
	padding-top:117px;
	margin:0 auto;
	}
.search form{
	margin-left:333px;	
	}
.search_input{
	width:442px;
	height:50px;
	background:url(../images/products_05.jpg);
	border:0;	
	float:left;
	padding-left:18px;
	line-height:18px;
	color:#eb1c24;
	font-size:24px;
	}
.search_btn{
	width:88px;
	height:50px;
	background:url(../images/products_05.jpg) right top;
	float:left;	
	border:0;
	cursor:pointer;
	}
/*****产品展示*****/
.pro{
	height:2600px;
	}
/*产品分类标题*/
.title{
	height:78px;
	position:relative;
	}
.title li{
	float:left;
	margin-right:1px;
	}
.title li .fixed{
	height:78px;
	background-color:#ef454c;
	line-height:78px;
	font-weight:bold;
	width:299px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:18px;
	}
.title li .wood{
	position:absolute;
	left:300px;
	bottom:0;
	}
.title li .water{
	position:absolute;
	left:600px;
	bottom:0;
	}
.title li .tool{
	position:absolute;
	left:900px;
	bottom:0;
	}
.title li a{
	width:299px;
	height:50px;
	background-color:#999;
	display:block;
	line-height:50px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:18px;
	color:#fff;	
	transition:ease-out 300ms;
	}
.title li:hover a{
	height:78px;
	background-color:#ef454c;
	line-height:78px;
	font-weight:bold;
	}
/*产品内容部分*/
.product{
	height:1192px;
	}
.up{
	height:596px;
	}
.up li{
	float:left;	
	}
.up li a{
	display:block;
	position:relative;
	height:596px;
	color:#fff;
	text-align:center;
	}
/*产品描述交互*/
.up li a h5{
	font-weight:normal;
	font-size:14px;
	line-height:28px;
	padding-top:90px;
	}
.up li a h3{
	font-weight:normal;
	font-size:18px;
	}
.up li a h6{
	font-weight:normal;
	font-size:14px;
	line-height:28px;
	padding-top:64px;
	}
.up li a p{
	font-weight:normal;
	font-size:12px;
	line-height:24px;
	padding-top:27px;
	}
.up li a .mask{
	width:299px;
	height:596px;
	background-color:rgba(0,0,0,0.85);
	position:absolute;
	left:0;
	bottom:0;
	opacity:0;
	transition:ease-out 300ms;
	}
.up li:hover a .mask{
	opacity:1;
	}

/***************足部导航***************/	
#footer{
	height:296px;
	border-top:1px solid #fde3e4;
	}
.footer_mid{
	width:1200px;
	margin:0 auto;	
	}
.footer_nav{
	padding-top:50px;	
	margin:0 auto;
	}
.footer_1{
	float:left;
	height:136px;
	width:200px;
	
	}
.footer_1 a{
	font-family:arial,"宋体";
	font-size:12px;
	color:#858585;
	line-height:28px;
	}
.footer_1 a h4{
	color:#333;
	font-size:14px;
	line-height:34px;
	}
.footer_2{
	float:left;
	height:136px;
	width:200px;
	line-height:21px;
	
	}
.footer_2 a{
	font-family:arial "宋体";
	font-size:12px;
	color:#858585;
	line-height:28px;
	}
.footer_2 a h4{
	color:#333;
	font-size:14px;
	line-height:34px;
	}
.footer_nav li:hover a{
	text-decoration:underline;
	}
/***************版权信息***************/	
#copy{
	height:156px;	
	}
.copy_mid{
	width:1200px;
	height:156px;
	margin:0 auto;
	}
.copyright{
	width:400px;
	float:left;
	line-height:23px;
	font-family:"微软雅黑",arial;
	font-size:12px;
	color:#ccc;
	text-align:center;
	margin-left:400px;
	padding-top:46px;
	}
.copy_mid a{
	line-height:23px;
	font-family:"微软雅黑",arial;
	font-size:12px;
	color:#ccc;
	}
.copy_mid a:hover{
	text-decoration:underline;	
	}

